MONGODB_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/poker_casino?retryWrites=true&w=majority
PORT=4002
JWT_SECRET=CAMBIAR_POR_LA_MISMA_CLAVE_LARGA_Y_ALEATORIA
DIRECCION_USER=admin
DIRECCION_PASSWORD=CAMBIAR_PASSWORD_DIRECCION
CAJA_USER=caja
CAJA_PASSWORD=CAMBIAR_PASSWORD_CAJA
